/*
 * Globals
 */
 @import url(http://fonts.googleapis.com/css?family=Roboto:300,100);

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  border-top: #ae0b46 5px solid;
  background-color: rgba(191, 15, 123, 0.6);
  color: #fff;
  text-align: center;
  font-family: 'Roboto', serif;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}




/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

 .masthead-brand img {
  width: 110px;
  opacity: 0.8;
}

/*
* Body
*/

.cover-heading {
  font-size: 3em;
  font-weight: 100;
  opacity: 0.8;
}
.lead {
  opacity: 0.8;
  font-size: 1.8em;
  font-weight: 100;
  font-style: italic;
}

/*
* Email
*/
.signup  {
  margin: 0 auto;
  margin-top: 50px;
  opacity: 0.8;
}
::-webkit-input-placeholder {
    color: #333;
  text-align: left;
  font-style: italic;
  opacity: 1;

}
:-moz-placeholder { /* Firefox 18- */
  color: #333;
  text-align: left;
  font-style: italic;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #333;
  text-align: left;
  font-style: italic;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #333;
  text-align: left;
  font-style: italic;
  opacity: 1;
}


.InputAddOn-field {
  flex: 1;
  -webkit-flex: 1;
  /* field styles */
  border-radius: 2px 0 0 2px;
  opacity: 0.6;
  border: none;
  background-color: white;
  height: 50px;
  font-family: 'Roboto', serif;
  font-weight: 300;
  text-align: left;
  color: black;
  padding-left: 20px;
}

.InputAddOn-item {
  /* item styles */
  background-color: #30aa4b;
  border: none;
  border-radius: 0 2px 2px 0;
  font-family: 'Roboto', serif;
  font-weight: 100;
  padding: 15px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */

#footer img {
  width: 70px;
  margin-bottom: 10px;
  padding: 5px;
  opacity: 0.8;
}

@media (max-device-width: 600px) {

  #bgimg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(/assets/img/bg-pink-mobile.jpg) 0 0 no-repeat fixed !important;
    background-size: contain;
    z-index: -999;
  }
  .masthead-brand img {
    margin-top: 20px;
    width: 80px;
  }
  video#bgvid {
    display: none;
  }
  .cover-heading {
    font-size: 1.8em;
    font-weight: 300;
    margin-top: -40px;
  }
  .lead {
    font-size: 1.3em;
  }


::-webkit-input-placeholder {
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;  
}

:-ms-input-placeholder {  
   text-align:center; 
}


.InputAddOn-field {
  flex: 1;
  -webkit-flex: 1;
  /* field styles */
  border-radius: 2px 2px 0 0;
  opacity: 0.6;
  border: none;
  background-color: white;
  height: 50px;
  font-family: 'Roboto', serif;
  font-weight: 300;
  color: black;
  width: 250px;
  padding: 0;
}
  .InputAddOn-item {
  /* item styles */
  background-color: #30aa4b;
  border: none;
  border-radius: 0 0 2px 2px;
  font-family: 'Roboto', serif;
  font-weight: 100;
  padding: 15px;
  width: 250px;
}
#footer img {
  width: 50px;
  margin-bottom: 10px;
  padding: 5px;
  opacity: 0.8;
}
 
}

@media (min-device-width: 601px) and (max-device-width: 800px) {
.InputAddOn {
  display: flex;
  display: -webkit-flex;
}
video#bgvid {
  display: none;
}
 #bgimg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url(/assets/img/bg-pink-tablet.jpg) 0 0 no-repeat fixed !important;
    background-size: contain;
    z-index: -999;
  }
  .cover-heading {
    margin-top: -100px;
  }
  .signup {
    width: 80%;
  }
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }


}




@media (min-device-width: 801px) {

  .InputAddOn {
  display: flex;
  display: -webkit-flex;
}
 #bgimg {
    display: none;
  }

  video#bgvid {
position: fixed; 
right: 0; 
bottom: 0;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto; 
z-index: -100;
background: url(./assets/img/bg-pink.jpg) no-repeat;
background-size: cover;
opacity: 0.5;
}
  .cover-heading {
    margin-top: -60px;
  }
  .signup {
    width: 80%;
  }
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }


}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
